@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

.chat-page {
    // background-image: url(./../../imgs/background_edu.png);
    width: 100%;
    height: 100%;
    display: flex;
    // vertical-align: top;

    direction: row;

    .navbar {
        width: 100%;
        height: 80px;
        background-color: rgb(50, 50, 50);
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        

        .search {
            width: 25%;
            // max-width: fit-content;
            height: 80%;
            // max-height: fit-content;

            margin: 0px 0px 0px 0px;

            display: flex;
            justify-content: center;
            align-items: center;
            // vertical-align: middle;
            position: relative;
            // float: left;

            input[type='text'] {
                width: 90%;
                height: 80%;
                font-size: 20px;
                background-color: rgb(248, 248, 248);
                border-radius: 10px;
                border-width: 2px;
                padding: 10px 10px 12px 32px;

                // position: absolute;
                align-self: center;
                justify-self: center;
            }

            div {
                position: absolute;
                margin-left: 80%;
                transform: rotate(90deg);

                :hover {
                    color: rgb(0, 174, 216);;
                    cursor: pointer;
                }
            }


        }
    
        .username {
            color: rgb(0, 174, 216);
            width: 75%;
            font-size: 20px;
            font-family: 'Inter', sans-serif;

            display: flex;
            position: relative;
            // float: right;
            direction: row;

            a {
                width: 100%;
                text-align: center;
            }

            div {
                color: rgb(0, 174, 216);
                position: absolute;
                left: 95%;

                :hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }

    .body {
        width: 100%;
        height: 100%;
        max-height: calc(100% - 80px);
        margin-top: 80px;

        position: absolute;
        display: flex;
        flex-direction: row;

        .contacts {
            width: 25%;
            height: 100%;
            background-color: rgb(248, 248, 248);
            overflow: scroll;

            float: left;

            .user {
                background-color: rgb(248, 248, 248);
                border: 1px solid rgb(50, 50, 50);
                border-top: 0;
                border-bottom: 2px solid rgb(50, 50, 50);
                font-family: 'Inter', sans-serif;
                padding: 10px 10px 10px 10px;

                .name {
                    color: rgb(54, 214, 254);;
                    font-size: 24px;
                }

                .last-message {
                    color: black;
                    font-size: 16px;
                }
            }

            .user:hover {
                cursor: pointer;
                background-color: rgba(182, 182, 182, 0.779);
            }

        }

        .contacts::-webkit-scrollbar {
            display: none;
        }

        .chat {
            width: 75%;
            height: 100%;
            background-image: url(./../../imgs/background_edu.png);
            display: flex;
            flex-direction: column;
            
            .chat-msg {
                width: 100%;
                height: 85%;
                max-height: fit-content;
                font-family: 'Inter', sans-serif;
                padding: 5px 15px 5px 15px;
                border: none;

                position: relative;
                overflow: scroll;
                top: 0px;
                display: flex;
                flex-direction: column;

                .container{
                    padding: 5px 15px 5px 15px;
                    display: flex;
                    // justify-content: flex-end;
                
                    .wrapper{
                        margin-bottom: 5px;

                        .msg{
                            width: fit-content;
                            height: 100%;
                            min-width: 300px;
                            line-height: 50px;
                            border: 1px solid rgb(50, 50, 50);
                            position: relative;
                            padding-left: 20px;
                            border-radius: 10px;
                            filter: drop-shadow(0 0 2px #999);
                            background: #fff;
                        }

                        .msg::before{
                            content: '';
                            position: absolute;
                            left: -10px;
                            top: 30px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right:10px solid rgb(50, 50, 50);
                        }
                        
                        .msg::after{
                            content: '';
                            position: absolute;
                            left: -8px;
                            top: 30px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right:10px solid #fff;
                        }
                    }

                    .wrapper-2 {
                        margin-bottom: 5px;

                        .msg{
                            width: fit-content;
                            height: 100%;
                            min-width: 300px;
                            line-height: 50px;
                            border: 1px solid lightgreen;
                            position: relative;
                            padding-left: 20px;
                            border-radius: 10px;
                            filter: drop-shadow(0 0 2px #999);
                            background: #fff;
                        }

                        .msg::before{
                            content: '';
                            position: absolute;
                            right: -10px;
                            top: 30px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right:10px solid lightgreen;
                            transform: rotate(180deg);
                        }
                        
                        .msg::after{
                            content: '';
                            position: absolute;
                            right: -8px;
                            top: 30px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right:10px solid #fff;
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            .chat-msg::-webkit-scrollbar {
                display: none;
            }
                

            .text-bar {
                width: 100%;
                height: 15%;
                min-height: 60px;
                background-color: rgb(50, 50, 50);
                // max-height: fit-content;

                display: flex;
                position: relative;
                // align-self: flex-end;

                input {
                    width: 90%;
                    height: 56px;
                    border-width: 2px;
                    border-radius: 10px;
                    padding: 0px 20px 0px 20px;
                    left: 15px;

                    display: flex;
                    align-self: center;
                    justify-self: center;
                    position: absolute;
                }
    
                div {
                    width: 10%;
                    min-width: 10px;
                    padding: 10px 10px 10px 10px;
                    right: 0px;

                    // align-self: flex-end;
                    align-self: center;
                    position: absolute;
                    
                    svg {
                        color:rgb(0, 174, 216);
                        width: 100%;
                        display: flex;
                        justify-self: center;
                    }
                }

                div:hover {
                    cursor: pointer;

                    :first-child {
                        color: aqua;
                    }
                }

            }
        }

        .chat:last-child {
            justify-content: center;
            align-items: center;
        }

    }

    .chat::-webkit-scrollbar {
        display: none;
    }
}

